<ion-view title="Profile" ng-init="init()">
    <ion-content>
        
            <div class="item item-avatar">
                <!--<img ng-src="{{profileData.picture.data.url}}">-->
                <h2>{{myprofileData.query.userinfo.name || profileData.name}}</h2><br/>

                

                
                {{myprofileData.query.userinfo.email || profileData.website}} <br/>
                
                
           
                {{myprofileData.query.userinfo.registrationdate || profileData.location.name}}<br/>
                 
                
            
                {{myprofileData.query.userinfo.registrationdate || profileData.relationship_status}}<br/>


                
            </a>
        </div>
    </ion-content>
</ion-view>
